<h1>Editing Movie #<%= @movie.id %></h1>

<form action="http://localhost:3000/update_movie/<%= @movie.id %>">
  <div>
    <label for="title">Title</label>
    <input placeholder="Enter a title here:" value="<%= @movie.title %>" name="the_title" type="text" id="title">
  </div>

  <div>
    <label for="year">Year</label>
    <input name="the_year" type="text" id="year" value="<%= @movie.year %>">
  </div>

  <div>
    <label for="duration">Duration</label>
    <input name="the_duration" type="text" id="duration" value="<%= @movie.duration %>">
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="the_description" id="description"><%= @movie.description %></textarea>
  </div>

  <div>
    <label for="picture">Image URL</label>
    <input name="the_image_url" type="text" id="picture" value="<%= @movie.image_url %>">
  </div>

  <div>
    <input type="submit" value="Update Movie">
    or <a href="index.html">Cancel</a>
  </div>
</form>
